.footerContainer {
    width: 100%;
    height: 300px;
    background-color: #010040;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF44;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 60px 0px;
}


.innerContainer {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.contentContainer {
    display: flex;
    position: relative;
    width: 80%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.footer-desc{
    color: #FFFFFF99;
    font-family: Inter;
}

.company-text{
    color:white;
}