@import "~bootstrap/scss/bootstrap";
@import "public/main.scss";
*{
    font-family: inter !important;
}

body{
    cursor: none !important;
    color: #666666;
}

.custom-header{
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}