@import "./fonts/bootstrap-icons/font-css.scss";
@import "./fonts/font-awesome/css/all.min.scss";

// main css
@import "./scss/custom-animation";
@import "./scss/framework";
@import "./scss/navbar";
@import "./scss/style";
@import "./scss/custom-next";
@import "./scss/responsive";
